body{
    background-image: linear-gradient(#8641e0,#d348c0);
    box-sizing: content-box;
    font-family: 'Alfa Slab One', cursive;
    overflow: hidden;
}
.container{
    font-family: 'alfa slab one',cursive;
    text-transform: capitalize;
}
.content img{
    float: right;
    width: 30%;
    height: 90%;
    padding-right: 50px;
}


h1{
    font-family: 'Alfa Slab One', cursive;
    color: #f1c0e8;
    margin: 100px;
      text-transform: capitalize;
      font-size: 3rem;
      height: 50px;
      width: 100%;
}
button{
    
    line-height:1.5;
    background-color:#8641e0;
    border: 1px solid var(--white-alpha-40);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color:rgb(232, 233, 238);
    font-weight: 500;
    text-transform: capitalize;   
    font-family: 'Alfa Slab One', cursive;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
}


button::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: #d348c0;
    z-index: -1;
    transition: width 0.3s ease;

}
button:hover::before{
    width: 100%;
}
button:hover{
    color: var(--white);
}
.btn{
    line-height:1.5;
    background-color: #d348c0;
    border: 1px solid var(--white-alpha-40);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color:rgb(209, 213, 231);
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.btn::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: #d348c0;
    z-index: -1;
    transition: width 0.3s ease;

}
.btn:hover::before{
    width: 100%;
}
.btn:hover{
    color: var(--white);
}

p{
    
    font-family: 'Alfa Slab One', cursive;
    font-size: 2rem;
    color:#1c042c;
    padding: 60px;
    margin: 0 0 0 60px;
    line-height: 1.5;
}
button{
    padding: 10px 28px;
    margin-left: 120px;
}
.icons{
    display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
        margin: 15px;
        padding: 2px;
    }
      #apple,
      #twitter,
      #github,
      #facebook {
        font-size: 1rem;
        background-color: #8641e0;
        color: #fff;
        box-shadow: 2px 2px 2px #8641e0, 10px 1px 12px #8641e0,
          2px 2px 10px #8641e0, 2px 2px 3px #d348c0, inset 2px 2px 10px #d348c0,
          inset 2px 2px 10px #d348c0, inset 2px 2px 10px #d348c0,
          inset 2px 2px 10px #d348c0;
        border-radius: 29px;
        padding: 11px 19px;
        margin: 0 20px;
        text-shadow: 0 0 50px #d348c0, 0 0 100px #d348c0, 0 0 150px #d348c0,
          0 0 200px #d348c0;
      }